<h3>NEWS API</h3>
<mat-dialog-content>
  <div class="row">
    <div class="col-12">
      Search worldwide news with code
      Get breaking news headlines, and search for
      articles from over 50,000 news sources and
      blogs with our news API . <br> <br>
      <!-- News api Website link -->
      <a href="https://newsapi.org/" target="_blank"> <b> NEWS API WEBSITE </b> </a>
    </div>
  </div>

</mat-dialog-content>
<br>
<mat-dialog-actions>
  <!-- Close pop up -->
  <button mat-button (click)="close()">Close</button>
</mat-dialog-actions>
