$fontcolor: rgb(0, 85, 124);
$mobile: 868px;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.menu--primary {
  height: 25px;
  width: 25px;
  cursor: pointer;
  padding: 2px;

  svg {
    fill: $fontcolor;
  }
}

.logo {
  transform: translateX(-10px);
  cursor: pointer;
  color: $fontcolor;

  &:focus {
    border: none !important;
    outline: none !important;
  }

  svg {
    transform: translateY(-1px);
    height: 25px;
    width: 25px;
    fill: $fontcolor !important;
  }

}
