<!-- All categories -->

<div class="container">
  <div class="row mt-3">
    <div class="col-lg-4 col-md-6 col-sm-6 col-6 cat">
      <div class="cat--logo-text" routerLink="/categories/business" (click)="sendTopic('business')">
        <img class="cat__logo" src="../../assets/img/categories/money.svg">
        <span class="mt-2"> Business</span>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-6 cat">
      <div class="cat--logo-text" routerLink="/categories/entertainment" (click)="sendTopic('entertainment')">
        <img class="cat__logo" src="../../assets/img/categories/film.svg">
        <span class="mt-2"> Entertainment</span>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-6 cat">
      <div class="cat--logo-text" routerLink="/categories/health" (click)="sendTopic('health')">
        <img class="cat__logo" src="../../assets/img/categories/heartbeat.svg">
        <span class="mt-2">Health</span>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-6 cat">
      <div class="cat--logo-text" routerLink="/categories/science" (click)="sendTopic('science')">
        <img class="cat__logo" src="../../assets/img/categories/dna.svg">
        <span class="mt-2">Science</span>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-6 cat">
      <div class="cat--logo-text" routerLink="/categories/sport" (click)="sendTopic('sport')">
        <img class="cat__logo" src="../../assets/img/categories/football-ball.svg">
        <span class="mt-2">Sport</span>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-6 cat">
      <div class="cat--logo-text" routerLink="/categories/technology" (click)="sendTopic('technology')">
        <img class="cat__logo" src="../../assets/img/categories/tech.svg">
        <span class="mt-2">Technology</span>
      </div>
    </div>
  </div>

</div>
