<h3>About this app</h3>
<mat-dialog-content>
  This app is designed and developed by Mehdi faraji .
  The content is not accepted nor declined by the developer . <br>
  Contact developer at : <br><br>

  <!-- Contact Links -->
  <div class="container">
    <div class="row">
      <div class="col-4">
        <a class="links" href="https://github.com/mehdi-developer" target="_blank">
          <img class="link__logo" src="../../assets/img/github.png"><span class="link__text">Github</span></a>
      </div>
      <div class="col-4">
        <a class="links" href="mailto:mahdifarajideveloper@gmail.com?subject=NewsApp" target=" _blank"><img
            class="link__logo" src="../../assets/img/gmail.png"><span class="link__text">Gmail</span></a>
      </div>
      <div class="col-4">
        <a class="links" href="https://www.linkedin.com/in/mahdifaraij/" target="_blank"><img class="link__logo"
            src="../../assets/img/linkedin.png"><span class="link__text">Linkedin</span></a>
      </div>
    </div>
  </div>

</mat-dialog-content>
<br>
<mat-dialog-actions>
  <!-- Close pop up -->
  <button mat-button (click)="close()">Close</button>
</mat-dialog-actions>
